<div class="card material-table">
  <div class="table-header">
    <h5>Forms</h5>
    <div class="actions">
      <a class="waves-effect btn teal lighten-2" href="/questionarie">Add new</a>
    </div>
  </div>
</div>
