  <footer class="page-footer ligt-gree">
    <div class="footer-copyright light-green darken-1">
      <div class="container">
        © Copyright <%= Date.today.year %>
      </div>
    </div>
  </footer>
